# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\lys\studystudy\phd\0-Project_absorption_correction\Code_0_for_absorption_correction\github\diamond\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
